@page
@model IndexModel
@{
    //Layout = "_LayoutRed";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>@Model.Message</div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/images/web-dev.png" />
</div>
